<!DOCTYPE html>
<html class="user-select-none">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="icon" type="image/png" sizes="512x512" href="static/student_assets/img/graduate.png">
    <link rel="stylesheet" href="static/student_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/student_assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/student_assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/student_assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/teacher_assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/student_assets/css/custom.css">
    <link rel="stylesheet" href="static/student_assets/css/for_interaction_only.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="static/student_assets/css/Login-Form-Clean-1.css">
    <link rel="stylesheet" href="static/student_assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/student_assets/css/Team-Grid.css">
</head>

<body id="page-top" style="background: rgb(49,27,146);">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #311b92;margin-top: 10px;margin-bottom: 10px;border-radius: 20px;margin-right: 10px;margin-left: 10px;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="index.html">
                    <div class="sidebar-brand-icon"><i class="fas fa-user-graduate"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>STUDENT</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/s_index">
                            <div class="neo-s" style="padding: 10px;"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></div>
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="/s_teachers">
                            <div class="neo-s"><i class="fas fa-chalkboard-teacher"></i><span>Teachers</span></div>
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="/s_notes">
                            <div class="neo-s"><i class="fas fa-sticky-note"></i><span>Notes</span></div>
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="/s_exam">
                            <div class="neo-s"><i class="fas fa-pen-alt"></i><span>Exam</span></div>
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="/s_result">
                            <div class="neo-s"><i class="fas fa-clipboard-check"></i><span>Results</span></div>
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="/s_fee">
                            <div class="neo-s"><i class="fas fa-money-check-alt"></i><span>Fee</span></div>
                        </a></li>
                    <li class="nav-item"><a class="nav-link active" href="/s_interaction">
                            <div class="neo-s"><i class="fas fa-comments"></i><span>Interactions</span></div>
                        </a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0 neo-s" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper" style="background: #311b92;">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top shadow-none" style="border-radius: 20px;margin-top: 10px;margin-right: 3px;margin-left: 3px;background: linear-gradient(#311b92, #311b92 99%);">
                    <div class="container-fluid"><button class="btn d-md-none rounded-circle me-3 shadow-none neo-s" id="sidebarToggleTop" type="button" style="border-style: none;"><i class="fas fa-bars" style="border-style: none;color: #d1d3e2;"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrowneo-s"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                        <div class="neo-s" style="border-radius: 50%;padding-right: 12px;padding-left: 12px;"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw" style="color: var(--bs-gray-200);"></i></div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in" style="background: #684fd5 !important;color: #ffffff;">
                                        <h6 class="dropdown-header cd-hd" style="background: #493699;color: rgb(133,135,150);border-style: none;">notifications</h6><a class="dropdown-item d-flex align-items-center border-end-0 border-start-0 m-item" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2021</span>
                                                <p style="color: var(--bs-white);">Download and complete FOSS notes before this week.</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center border-end-0 border-start-0 m-item" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-money-check-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2020</span>
                                                <p style="color: var(--bs-white);">Pay your next semester fee.</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center border-start-0 border-end-0 m-item" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2020</span>
                                                <p style="color: var(--bs-white);">There will be a test regarding IOT on next class.&nbsp;</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500 border-0 m-item" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-white small text-capitalize"> {{nam}} </span><img class="border rounded-circle img-profile" src="{{spic}}"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in" style="background: #4c2cd5;border-style: none;"><a class="dropdown-item text-gray-500 drdown" href="/s_profile"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider" style="border-top-width: 2px;border-top-color: var(--bs-gray-600);"></div><a class="dropdown-item text-gray-500 drdown" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="mb-4 hd">Interactions</h3>
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="margin-right: 1%;margin-left: 30%;" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <span><strong> {{ message }} </strong></span>
  </div>
</div>
{% endfor %}
<!--                    <div class="card shadow neo-m">-->
<!--                        <div class="card-header py-3 hedclr">-->
<!--                            <p class="m-0 fw-bold cd-hd">Ask Doubt</p>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <form style="padding-top: 13px;" method="post" action="/s_send">-->
<!--                                {% csrf_token %}-->
<!--                                <div class="d-flex justify-content-center">-->
<!--                                    <select class="form-select  neo-input tbl-hd" >-->
<!--                                        <optgroup label="Teacher">-->
<!--                                            {% for  id, tchr_name in tchr %}-->
<!--                                            <option value="{{id}}" selected>{{tchr_name}}</option>-->
<!--                                            {% endfor %}-->
<!--                                        </optgroup>-->
<!--                                </select></div>-->
<!--                                <div class="d-flex justify-content-center"><textarea class="form-control neo-input tbl-hd" style="margin-bottom: 20px;width: 60%;" placeholder="Doubt"></textarea></div>-->
<!--                                <div class="d-flex justify-content-center"><button class="btn btn-success neobtn" type="submit" style="background-color: #00ffa3;">Submit Doubt</button></div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card shadow neo-m" style="margin-top: 60px;margin-bottom: 40px;">-->
<!--                        <div class="card-header py-3 hedclr">-->
<!--                            <p class="m-0 fw-bold cd-hd">Feedbacks</p>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">-->
<!--                                <table class="table my-0" id="dataTable">-->
<!--                                    <thead class="tbl-hd">-->
<!--                                        <tr>-->
<!--                                            <th style="width: 65px;">Sl.No.</th>-->
<!--                                            <th style="width: 100px;">Date</th>-->
<!--                                            <th style="width: 100px;">Time</th>-->
<!--                                            <th style="width: 220px;">Doubt</th>-->
<!--                                            <th style="width: 220px;">Feedback</th>-->
<!--                                            <th style="width: 155.8px;">Rate feedback</th>-->
<!--                                        </tr>-->
<!--                                    <tbody class="tbl-bd">-->
<!--                                        <tr>-->
<!--                                            <td>Cell 1</td>-->
<!--                                            <td>11/12/2222</td>-->
<!--                                            <td>21:33:10</td>-->
<!--                                            <td><textarea class="neo-input tbl-hd" style="margin-bottom: 20px;width: 100%;" placeholder="Doubt" readonly></textarea></td>-->
<!--                                            <td><textarea class="neo-input tbl-hd" style="margin-bottom: 20px;width: 100%;" placeholder="Feedback" readonly></textarea></td>-->
<!--                                            <td>-->
<!--                                                <div class="row">-->
<!--                                                    <div class="col-xl-4"><button class="btn neobtn btn-info" data-bs-toggle="tooltip" type="submit" title="Satisfied"><i class="fas fa-thumbs-up"></i></button></div>-->
<!--                                                    <div class="col-xl-4"><button class="btn neobtn btn-warning" data-bs-toggle="tooltip" type="submit" title="Dissatisfied"><i class="fas fa-thumbs-down"></i></button></div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                    <div class="card shadow neo-m">
                        <div class="card-header py-3 hedclr">
                            <p class="m-0 fw-bold cd-hd">Doubts</p>
                        </div>
                        <div class="card-body">
                            <div class="d-flex d-lg-flex justify-content-center justify-content-lg-center" style="overflow: hidden;height: 460px;border-radius: 10px;">
                                <div class="msg" style="overflow-y: scroll;height: 100%;width: 40%;">
                                    <div class="table-responsive" style="margin-top: 5px;">
                                        <table class="table table-sm table-borderless">
                                            <tbody class="text-capitalize">


                                            {% for id,tchr_name,pic in tchrname %}
                                                <tr>
                                                    <td>
                                                            <form method="post" action="/s_inter" id="{{tchr_name}}{{id}}">
                                                                {% csrf_token %}
                                                            <input class="form-control visually-hidden" type="text" value="{{id}}" name="id" placeholder="Id" style="position: relative;left: 0;">
                                                            <input class="form-control visually-hidden" type="text" value="{{tchr_name}}" name="name" placeholder="Name" style="position: relative;left: 0;">
                                                        <div class="neo-m d-flex d-xxl-flex align-items-center align-items-xxl-center" style="height: 76px;border-radius: 5px;" role="button" onclick="document.forms['{{tchr_name}}{{id}}'].submit();">
                                                            <img width="40px" height="40px" src="{{pic}}" style="margin-top: 7px;margin-bottom: 7px;border-radius:50px;margin-left: 5%;margin-right: 3%;">
                                                            <div>
                                                                <h4 class="text-nowrap" style="margin-bottom: 0px;color: var(--bs-orange);">{{tchr_name}}</h4>
                                                                <h1 class="text-nowrap tbl-bd" style="font-size: 13px;margin-bottom: 0px;">{{tchr_name}}</h1>
                                                            </div>
                                                        </div>
                                                            </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="msg neo-m" style="height: 100%;width: 100%;">
                                    <div class="neo-s d-flex d-xxl-flex align-items-center align-items-xxl-center" style="z-index: 100;height: 15%;position: sticky;top: 0;">
                                        <div class="d-flex d-xxl-flex align-items-end align-items-xxl-end">
                                            <img width="40px" height="40px" src="{{tpic}}" style="border-radius:50px;margin-left: 5%;margin-right: 3%;border-radius: 50%;">
                                            <h2 class="hd text-nowrap text-capitalize" style="margin-bottom: 0px;">{{tchrn}}</h2>
                                            <h6 class="tbl-hd text-nowrap text-capitalize" style="margin-bottom: 5px;margin-right: 5px;margin-left: 13px;font-style: italic;">{{tsub}}</h6>
                                        </div>
                                    </div>
                                    <div id="chat" class="msg" style="overflow-y: scroll;height: 70%;box-shadow: inset 0px -2px 19px rgba(0,0,0,0.1);">
                                        <div class="d-flex d-xxl-flex justify-content-center justify-content-xxl-center" id="h" style="margin: 15px;">
                                            <span class="badge rounded-pill bg-primary" style="background: #311b92 !important;box-shadow: 9px 9px 18px #271675, -9px -9px 18px #3f25b0;">Hey, welcome !</span></div>
                                        {% for snd_id,recv_id,msg,time in msg %}
                                            {% if recv_id == i and snd_id == o %}
                                            <div class="chbox">
                                                <div class="d-inline-block neo-input chout">
                                                    <div class="dot" style="background: var(--bs-success);"></div>
                                                    <p class="msg tbl-hd">{{msg}}</p>
                                                    <h1 class="text-nowrap time">{{time}}</h1>
                                                </div>
                                            </div>
                                            {% elif recv_id == o and snd_id == i %}
                                            <div class="chbox">
                                                <div class="d-inline-block neo-input chin">
                                                    <div class="dot" style="background: var(--bs-orange);"></div>
                                                    <p class="msg cd-hd">{{msg}}</p>
                                                    <h1 class="text-nowrap time">{{time}}</h1>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
<!--                                        <div class="chbox">-->
<!--                                            <div class="d-inline-block chin">-->
<!--                                                <div class="dot" style="background: var(&#45;&#45;bs-orange);"></div>-->
<!--                                                <p class="msg">incoming</p>-->
<!--                                                <h1 class="text-nowrap time">Time</h1>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div id="bottom"></div>
                                        <div class="d-flex d-xxl-flex justify-content-center justify-content-xxl-center" style="margin: 15px;">
                                            <span class="badge rounded-pill bg-primary" style="background: #311b92 !important;box-shadow: 9px 9px 18px #271675, -9px -9px 18px #3f25b0;">End of chat</span></div>
                                    </div>
                                    <div class="neo-s" style="z-index: 100;position: sticky;top: 100%;">
                                        <div style="position: relative;top: -6px;padding-top: 2%;padding-bottom: 2%;">
                                            <form id="msgform" method="post" action="/s_send" class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" >
                                                {% csrf_token %}
                                                <textarea class="form-control shadow-none msg neo-input" id="text" style="color: rgb(128,255,0);width: 80%;border-radius: 20px;border-style: none;height: 1px;" placeholder="Message" name="msg" rows="1"></textarea>
                                                <button class="btn shadow-none neobtn" type="submit" style="background: #00ffca;border-radius: 50%;border-style: none;margin-left: 10px;width: 36px;"><i class="icon ion-android-send"></i></button></form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
<!--    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header modal-bg"><button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button></div>-->
<!--                <div class="modal-body modal-bg">-->
<!--                    <form>-->
<!--                        {% csrf_token %}-->
<!--                        <div class="d-flex justify-content-center"><textarea class="form-control neo-input tbl-hd" style="margin-bottom: 20px;width: 60%;" placeholder="Doubt" readonly=""></textarea></div>-->
<!--                        <div class="d-flex justify-content-center"><textarea class="form-control neo-input tbl-hd" style="margin-bottom: 20px;width: 60%;" placeholder="Feedback" readonly=""></textarea></div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <script src="static/student_assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/student_assets/js/bs-init.js"></script>
    <script src="static/student_assets/js/msg.js"></script>
    <script src="static/student_assets/js/theme.js"></script>
</body>

</html>