<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="icon" type="image/png" sizes="512x512" href="static/teacher_assets/img/graduate.png">
    <link rel="stylesheet" href="static/teacher_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/teacher_assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/teacher_assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/teacher_assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/teacher_assets/css/custom.css">
    <link rel="stylesheet" href="static/teacher_assets/css/Login-Form-Clean-1.css">
    <link rel="stylesheet" href="static/teacher_assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/teacher_assets/css/Team-Grid.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: var(--bs-gray-900);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>teacher</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/t_index"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_plist"><i class="fas fa-user-friends"></i><span>Parents</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_slist"><i class="fas fa-user-graduate"></i><span>Students</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/t_courses"><i class="fas fa-book"></i><span>Courses</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_notes"><i class="fas fa-sticky-note"></i><span>Notes</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_exam"><i class="fas fa-pen-alt"></i><span>Exam</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_sfee"><i class="fas fa-money-check-alt"></i><span>Fee</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_interaction"><i class="fas fa-comments"></i><span>Interactions</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper" style="background: var(--bs-gray-400);">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background: linear-gradient(var(--bs-gray-700) 0%, var(--bs-gray-700));">
                    <div class="container-fluid"><button class="btn d-md-none rounded-circle me-3 shadow-none" id="sidebarToggleTop" type="button" style="border-style: none;"><i class="fas fa-bars" style="border-style: none;color: var(--bs-gray-600);"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        {% csrf_token %}
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                    <span class="d-none d-lg-inline me-2 text-white small text-capitalize" >{{trn}}</span><img class="border rounded-circle img-profile" src="{{trpic}}"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in" style="background: var(--bs-gray-700);border-color: var(--bs-gray-300);"><a class="dropdown-item text-gray-500" href="/t_profile"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider" style="border-top-width: 2px;border-top-color: var(--bs-gray-600);"></div><a class="dropdown-item text-gray-500" href="/tout"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    {{ mes }}
                    <h3 class="text-dark mb-4">Courses</h3>
                    <div class="card shadow">
                        <div class="card-header py-3" style="background: var(--bs-gray-200);">
                            <p class="text-primary m-0 fw-bold text-gray-600">Course Info</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Course id</th>
                                            <th>Course Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for crs_id,crs_name in records %}
                                            <td> {{ crs_id }}</td>
                                            <td>{{ crs_name }}</td>
                                        </tr>

                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="static/teacher_assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/teacher_assets/js/bs-init.js"></script>
    <script src="static/teacher_assets/js/theme.js"></script>
</body>

</html>