<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Smart College</title>
    <link rel="icon" type="image/png" sizes="512x512" href="static/teacher_assets/img/graduate.png">
    <link rel="stylesheet" href="static/teacher_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/teacher_assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/teacher_assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/teacher_assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/teacher_assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/teacher_assets/css/custom.css">
    <link rel="stylesheet" href="static/teacher_assets/css/for_interaction_only.css">
    <link rel="stylesheet" href="static/teacher_assets/css/Login-Form-Clean-1.css">
    <link rel="stylesheet" href="static/teacher_assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/teacher_assets/css/Team-Grid.css">
    {% load custom_tags %}
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: var(--bs-gray-900);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>teacher</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/t_index"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_plist"><i class="fas fa-user-friends"></i><span>Parents</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_slist"><i class="fas fa-user-graduate"></i><span>Students</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_courses"><i class="fas fa-book"></i><span>Courses</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_notes"><i class="fas fa-sticky-note"></i><span>Notes</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_exam"><i class="fas fa-pen-alt"></i><span>Exam</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/t_sfee"><i class="fas fa-money-check-alt"></i><span>Fee</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/t_interaction"><i class="fas fa-comments"></i><span>Interactions</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper" style="background: var(--bs-gray-400);">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background: linear-gradient(var(--bs-gray-700) 0%, var(--bs-gray-700));">
                    <div class="container-fluid"><button class="btn d-md-none rounded-circle me-3 shadow-none" id="sidebarToggleTop" type="button" style="border-style: none;"><i class="fas fa-bars" style="border-style: none;color: var(--bs-gray-600);"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        {% csrf_token %}
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                    <span class="d-none d-lg-inline me-2 text-white small text-capitalize">{{trn}}</span><img class="border rounded-circle img-profile" src="{{trpic}}"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in" style="background: var(--bs-gray-700);border-color: var(--bs-gray-300);"><a class="dropdown-item text-gray-500" href="/t_profile"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider" style="border-top-width: 2px;border-top-color: var(--bs-gray-600);"></div><a class="dropdown-item text-gray-500" href="/tout"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Interactions</h3>

{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="margin-right: 1%;margin-left: 30%;" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <span><strong> {{ message }} </strong></span>
  </div>
</div>
{% endfor %}

                    <div class="card shadow">
                        <div class="card-header py-3" style="background: var(--bs-gray-200);">
                            <p class="text-primary m-0 fw-bold text-gray-600">Doubts</p>
                        </div>
                        <div class="card-body">
                            <div class="d-flex d-lg-flex justify-content-center justify-content-lg-center" style="overflow: hidden;height: 460px;background: var(--bs-gray-200);border-radius: 10px;">
                                <div class="msg" style="overflow-y: scroll;background: #eaecf4;height: 100%;width: 40%;">
                                    <div class="table-responsive" style="margin-top: 5px;">
                                        <table class="table table-sm table-borderless">
                                            <tbody class="text-capitalize">
<!--                                            {% for id,stdnt_name,stdnt_crsname,pic in usrname %}-->
<!--                                                <tr>-->
<!--                                                    <td>-->
<!--                                                        <div class="d-flex d-xxl-flex align-items-center align-items-xxl-center" style="background: var(&#45;&#45;bs-white);height: 76px;border-radius: 5px;">-->
<!--                                                            <img width="40px" height="40px" src="{{pic}}" style="margin-left: 5%;margin-right: 3%;">-->
<!--                                                            <div>-->
<!--                                                                <h4 class="text-nowrap" style="margin-bottom: 0px;">{{stdnt_name}}<br></h4>-->
<!--                                                                <h1 class="text-nowrap" style="font-size: 13px;margin-bottom: 0px;">{{stdnt_crsname}}</h1>-->
<!--                                                            </div>-->
<!--                                                            <form method="post" action="/t_inter">-->
<!--                                                                {% csrf_token %}-->
<!--                                                                <input class="form-control visually-hidden" type="text" value="{{id}}" name="id" placeholder="Id" style="position: relative;left: 0;">-->
<!--                                                                <input class="form-control visually-hidden" type="text" value="{{stdnt_name}}" name="name" placeholder="Name" style="position: relative;left: 0;">-->
<!--                                                                <button class="btn btn-primary btn-sm shadow-none" type="submit" style="background: var(&#45;&#45;bs-gray-200);border-style: none;border-radius: 20px;color: var(&#45;&#45;bs-gray-500);margin-left: 10px;margin-right: 40px;">Reply</button>-->
<!--                                                            </form>-->
<!--                                                        </div>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                            {% endfor %}-->

                                            {% for id,stdnt_name,stdnt_crsname,pic in usrname %}
                                                <tr>
                                                    <td>
                                                            <form method="post" action="/t_inter" id="{{id}}">
                                                                {% csrf_token %}
                                                            <input class="form-control visually-hidden" type="text" value="{{id}}" name="id" placeholder="Id" style="position: relative;left: 0;">
                                                            <input class="form-control visually-hidden" type="text" value="{{stdnt_name}}" name="name" placeholder="Name" style="position: relative;left: 0;">
                                                        <div class="d-flex d-xxl-flex align-items-center align-items-xxl-center" style="background: var(--bs-white);height: 76px;border-radius: 5px;" role="button" onclick="document.forms['{{id}}'].submit();">
                                                            <img width="40px" height="40px" src="{{pic}}" style="border-radius:50px;margin-left: 5%;margin-right: 3%;">
                                                            <div>
                                                                <h4 class="text-nowrap" style="margin-bottom: 0px;">{{stdnt_name}}</h4>
                                                                <h1 class="text-nowrap" style="font-size: 13px;margin-bottom: 0px;">{{stdnt_crsname}}</h1>
                                                            </div>
                                                        </div>
                                                            </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="msg" style="background: var(--bs-gray-200);height: 100%;width: 100%;">
                                    <div class="d-flex d-xxl-flex align-items-center align-items-xxl-center" style="z-index: 100;background: var(--bs-gray-400);height: 15%;position: sticky;top: 0;border-left-style: solid;border-left-color: rgb(154,154,154);">
                                        <div class="d-flex d-xxl-flex align-items-end align-items-xxl-end">
                                            <img width="40px" height="40px" src="{{stdntpic}}" style="border-radius:50px;margin-left: 5%;margin-right: 3%;border-radius: 50%;">
                                            <h2 class="text-nowrap text-capitalize" style="margin-bottom: 0px;">{{stdntn}}</h2>
                                            <h6 class="text-nowrap text-capitalize" style="margin-bottom: 5px;margin-right: 5px;margin-left: 13px;font-style: italic;">{{stdntc}}</h6>
                                            <h6 class="text-nowrap text-capitalize" style="margin-bottom: 5px;font-style: italic;">{{stdnts}}</h6>
                                        </div>
                                    </div>
                                    <div id="chat" class="msg" style="overflow-y: scroll;background: var(--bs-gray-200);height: 70%;border-left-style: solid;border-left-color: rgb(154,154,154);box-shadow: inset 0px -2px 19px rgba(0,0,0,0.1);">
                                        <div class="d-flex d-xxl-flex justify-content-center justify-content-xxl-center" id="h" style="margin: 15px;">
                                            <span class="badge rounded-pill bg-primary" style="background: var(--bs-gray-400) !important;color: var(--bs-gray-600);">Hey, welcome !</span></div>
                                        {% for snd_id,recv_id,msg,time in msg %}
                                            {% if recv_id == i and snd_id == o %}
                                            <div class="chbox">
                                                <div class="d-inline-block chout">
                                                    <div class="dot" style="background: var(--bs-success);"></div>
                                                    <p class="msg">{{msg}}</p>
                                                    <h1 class="text-nowrap time">{{time}}</h1>
                                                </div>
                                            </div>
                                            {% elif recv_id == o and snd_id == i %}
                                            <div class="chbox">
                                                <div class="d-inline-block chin">
                                                    <div class="dot" style="background: var(--bs-orange);"></div>
                                                    <p class="msg">{{msg}}</p>
                                                    <h1 class="text-nowrap time">{{time}}</h1>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
<!--                                        <div class="chbox">-->
<!--                                            <div class="d-inline-block chin">-->
<!--                                                <div class="dot" style="background: var(&#45;&#45;bs-orange);"></div>-->
<!--                                                <p class="msg">incoming</p>-->
<!--                                                <h1 class="text-nowrap time">Time</h1>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div id="bottom"></div>
                                        <div class="d-flex d-xxl-flex justify-content-center justify-content-xxl-center" style="margin: 15px;">
                                            <span class="badge rounded-pill bg-primary" style="background: var(--bs-gray) !important;color: #eaecf4;">End of chat</span></div>
                                    </div>
                                    <div style="z-index: 100;background: var(--bs-gray-500);position: sticky;top: 100%;border-left-style: solid;border-left-color: rgb(154,154,154);">
                                        <div style="position: relative;top: -6px;padding-top: 2%;padding-bottom: 2%;">
                                            <form id="msgform" method="post" action="/t_send" class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" >
                                                {% csrf_token %}
                                                <textarea class="form-control shadow-none msg" id="text" style="width: 80%;border-radius: 20px;border-style: none;height: 1px;" placeholder="Message" name="msg" rows="1"></textarea>
                                                <button class="btn btn-primary shadow-none" type="submit" style="border-radius: 50%;background: var(--bs-gray-600);border-style: none;margin-left: 10px;width: 36px;"><i class="icon ion-android-send"></i></button></form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
<!--    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header" style="background: var(&#45;&#45;bs-gray-200);"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>-->
<!--                <div class="modal-body">-->
<!--                    <form>-->
<!--                        <div class="d-flex justify-content-center"><textarea class="form-control shadow-none" style="margin-bottom: 20px;width: 60%;" placeholder="Doubt" readonly=""></textarea></div>-->
<!--                        <div class="d-flex justify-content-center"><textarea class="form-control shadow-none" style="margin-bottom: 20px;width: 60%;" placeholder="Feedback"></textarea></div>-->
<!--                        <div class="d-flex justify-content-center"><button class="btn shadow-none" type="submit" style="background: var(&#45;&#45;bs-teal);color: var(&#45;&#45;bs-white);">Upload</button></div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <script src="static/teacher_assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/teacher_assets/js/bs-init.js"></script>
    <script src="static/teacher_assets/js/msg.js"></script>
    <script src="static/teacher_assets/js/theme.js"></script>
</body>

</html>