<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>e-education</title>
    <link rel="icon" type="image/svg+xml" sizes="150x150" href="static/img/index/Education-amico.svg">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Architects+Daughter&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap+Condensed&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/css/abcd.css">
    <link rel="stylesheet" href="static/css/btn_index.css">
    <link rel="stylesheet" href="static/css/Footer-Clean.css">
    <link rel="stylesheet" href="static/css/Header-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="static/css/loading.css">
    <link rel="stylesheet" href="static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="static/css/Student.css">
</head>

<body style="user-select: none;background: linear-gradient(123deg, rgba(13,110,253,0), var(--bs-info) 68%);height: 730.8px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 welcome">
                <p style="transform: translateY(170px);font-weight: bold;font-size: 37px;">Black color is sentimentally bad but, every black board makes the students life bright.</p>
                <p class="text-uppercase" style="transform: translateY(170px);font-weight: bold;text-align: right;">-a.p.j.abdual kalam</p>
                <p class="text-uppercase" style="transform: translateY(170px);font-weight: bold;text-align: center;margin-top: 20%;">
                    {{ mes }}</p>
            </div>
            <div class="col-md-6">
                <section class="login-clean" style="width: auto;transform: translateY(50px);background: rgba(241,247,252,0);">
                    <form method="post" action="/plogin" style="background: rgba(255,255,255,0);">
                        {% csrf_token %}
                        <h1 class="text-capitalize text-center" style="color: #eaf2ff;font-size: 35px;font-weight: bold;">Parent's login</h1>
                        <h2 class="visually-hidden">Login Form</h2>
                        <div class="illustration"><i class="fas fa-user-friends" style="color: #deebff;"></i></div>
                        <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" style="border-radius: 20px;background: rgba(13,110,253,0.19);" required=""></div>
                        <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" style="border-radius: 20px;background: rgba(13,110,253,0.19);" required=""></div>
                        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="border-radius: 20px;background: rgb(0,212,255);box-shadow: inset 4px 4px 5px 0px rgb(0,195,234);">Log In</button></div>
                        <a class="forgot" href="/parent_">Don't have account here</a>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="static/js/agency.js"></script>
</body>

</html>