<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>e-education</title>
    <link rel="icon" type="image/svg+xml" sizes="150x150" href="static/img/index/Education-amico.svg">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Architects+Daughter&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap+Condensed&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/css/abcd.css">
    <link rel="stylesheet" href="static/css/btn_index.css">
    <link rel="stylesheet" href="static/css/Footer-Clean.css">
    <link rel="stylesheet" href="static/css/Header-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="static/css/loading.css">
    <link rel="stylesheet" href="static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="static/css/Student.css">
</head>

<body class="user-select-none" style="background: #ffffff;"><img class="lod" src="static/img/loading.gif" width="700px" style="z-index: -10;">
<form action="/index">
    <div class="curve" style="position: relative;top: -290px;left: 650px;">
        <h1 style="font-size: 500%;color: rgb(0,231,158);text-shadow: 3px 2px #ffffff, 5px 5px rgb(0,132,90);">Waiting for approval… </h1>
        <div style="padding-left: 1%;">
            <p style="font-size: 110%;color: rgba(33,37,41,0.5);">Usually approve within 24hr.If not contact administrator.</p>
            <a class="btn shadow-none" role="button" data-bss-hover-animate="pulse" style="border-style: solid;border-color: #909294;border-radius: 20px;color: #909294;" href="/index  ">Back to home</a>
        </div>
    </div>
    <div style="background: #00aa74;transform: translateX(-241px) translateY(-943px) rotateZ(-37deg);box-shadow: 0px 4px 15px rgba(33,37,41,0.39);">
        <h1 class="text-uppercase" style="color: rgb(255,255,255);margin-left: 60px;font-size: 22px;width: 381.4px;padding: 10px;text-align: center;font-family: Bitter, serif;font-weight: bold;">Account created successfully</h1>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="static/js/agency.js"></script>
</body>

</html>